body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


/* ===== CSS variables ===== */
:root {
  /* Colors */



  /* Fonts */
  --font-main: "Inter", system-ui, sans-serif;

  /* UI */
  --radius: 8px;
}

/* ===== Base ===== */
body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
}



