.header {
    height: 100px;
    display: flex;
    background: var(--color-bg);
    align-items: center;
    padding: 0 24px;
    box-shadow: 0 4px 12px rgb(63, 209, 194);
    z-index: 10;
    top: 0;
    position: sticky;
}


.logo-icon {
    width: 70px;
    height: 70px;
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(6, 21, 20, 0.47);

}

.logo-text {
    font-size: 26px;
    font-weight: revert;
    margin-left: 48px;
    color: var(--color-text);
    text-decoration: none;
}